

body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/background.jpg");
    background-size: 100vw 100vh;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-container {
    background-color: rgba(179,178,176,0.6);
    color: #fff;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form input{
    background: #fff;
    width: 550px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#contact-form button{
    width: 550px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.resultContainer {
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}


.delete-btn {
    position: absolute;
    transform: translate(190px, 190px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.delete-btn i {
    color: red;
}